body {
    margin: -20px;
    padding: 0px;
    background-color: lightgray;
}

#menu {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: dodgerblue;
    font-family: 'Poppins', sans-serif;
}

#menu-v2 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu-v2 a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
#headerpic {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 75px;
    padding-right: 50px;
}

.menu:hover {
    background-color: skyblue;
}

#menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

li {
    display: inline-block;
    list-style-type: none;
}

input[type=text], [type=number], [type=email], [type=submit] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    font-family: 'Poppins', sans-serif;
}

    
}
#about {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

#about td {
    padding: 5px;
}

h4 {
    text-align: center;
}

#downloadAbout {
    text-align: center;
}

#downloadAbout a {
    text-decoration: none;
}
form {
    width:750px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#link {
    text-align: center;
    margin-left: 350px;
}

#homeimage {
    width: 220px;
    position: static;
    margin-left: 50px
}
#contentpic {
    height: 100%;
    width: 100%;
    
}

#footer {
    text-align: center;
}

#footer div {
    text-align: center;
    vertical-align: top;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

#qlinks li {
    width: 200px;
    text-align: center;
    display: block;
}

#ulinks li {
    width: 400px;
    text-align: center;
    display: block;
}

#clinks {
    width: 300px;
    text-align: center;
    display: block; 
}

#contact {
    text-align: center;
}

#message {
    width: 100%;
    max-width: 100%;
    height: 100px;
}

#submit {
    width: 25%;
    margin: auto;
    padding-top: 7px;
}

#supporters {
    text-align: center;
}


#news {
    margin-left: 310px;
}

#noticeLink {
    margin-left: 250px;
    text-align: auto;
}

#events{
    text-align: center;
    font-family: inherit;
}

#eventshead{
    color: darkslateblue;
}