body {
    margin: 0px;
    padding: 0px;
}

#menu {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: darkgray;
}

#anchor {
    pointer-events: none;
}

#menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

#menu a:hover {
    color: black;
    background-color: lightgray;
}

li {
    display: inline-block;
    list-style-type: none;
}

input[type=text], [type=number], [type=email] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, h2 {
    text-align: center;
}


#content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
}

#about {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

#about td {
    padding: 5px;
}

h4 {
    text-align: center;
}

#downloadAbout {
    text-align: center;
}

#downloadAbout a {
    text-decoration: none;
}
form {
    width:750px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#sign { 
    width: 294px;
    margin-left:1055px;
    position: fixed;
    align-content: right;
    background: lightgrey;
}

#sign p { 
    text-align: center;
}